<a href="https://colab.research.google.com/github/Emily7464/Homework/blob/main/54math_55random.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
solarsys=['태양','수성','금성']
for i body in enumerate(solarsys):
  print(f'태양계의{i}번째 천체: {body}')

SyntaxError: invalid syntax (ipython-input-3493977922.py, line 2)

In [2]:
print(fruits)

NameError: name 'fruits' is not defined

In [3]:
for i in reversed(range(1,6)):
  print(i)

5
4
3
2
1